<footer class="seccion">
<div class="container">
    <div class="row">
        <div class="columna-25 columna-mobile-100">
            <img src="../images/nuevo_logo.jpeg" class="logo-footer">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit labore dolores, optio ullam natus blanditiis.</p>
        </div>
        <div class="columna-25 columna-mobile-100">
            <h3>Temas Relacionados</h3>
            <ul>
                <li><a href="#">Tema 1</a></li>
                <li><a href="#">Tema 2</a></li>
                <li><a href="#">Tema 3</a></li>
            </ul>
        </div>
        <div class="columna-25 columna-mobile-100">
            <h3>Datos de Contacto</h3>
            <ul>
                <li>lalala@gmail.com</li>
                <li>1123232323</a></li>
                <li>Av. Sarasa 1234 Bs As. <br> -Argentina.</li>
            </ul>
        </div>
        <div class="columna-25 columna-mobile-100">
            <h3>Redes Sociales</h3>
            <ul class="redes">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
            </ul>

        </div>
        
    </div>
</div>
<div class="barra-footer">
&copy; Derechos Reservados - 2020
</div>
</footer>
<script src="js/jquery.js"></script>
<script src="js/funciones.js"></script>
</body>
</html>