<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Quimca T&S</title>
    <link rel="dhortcut icon" href="../images/nuevo_logo.jpeg">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/normalize.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://kit.fontawesome.com/58e4f1df8f.js" crossorigin="anonymous"></script>
</head>
<body>
        <header>
            <div class="container">
                <a href="index.html">
                    <img src="../images/nuevo_logo.jpeg" class="logo">
                </a>
                <nav>
                    <a href="#inicio">Inicio</a>
                    <a href="#nosotros">Nosotros</a>
                    <a href="#servicios">servicios</a>
                    <a href="#contactenos">Contactenos</a>
                </nav>
                <a href="#" class="hamb"><i class="fas fa-bars"></i></a>
            </div>
        </header>
        <main>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </main>
        








        <footer class="seccion">
            <div class="container">
                <div class="row">
                    <div class="columna-25 columna-mobile-100">
                        <img src="../images/nuevo_logo.jpeg" class="logo-footer">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit labore dolores, optio ullam natus blanditiis.</p>
                    </div>
                    <div class="columna-25 columna-mobile-100">
                        <h3>Temas Relacionados</h3>
                        <ul>
                            <li><a href="#">Tema 1</a></li>
                            <li><a href="#">Tema 2</a></li>
                            <li><a href="#">Tema 3</a></li>
                        </ul>
                    </div>
                    <div class="columna-25 columna-mobile-100">
                        <h3>Datos de Contacto</h3>
                        <ul>
                            <li>lalala@gmail.com</li>
                            <li>1123232323</a></li>
                            <li>Av. Sarasa 1234 Bs As. <br> -Argentina.</li>
                        </ul>
                    </div>
                    <div class="columna-25 columna-mobile-100">
                        <h3>Redes Sociales</h3>
                        <ul class="redes">
                            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                            <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                        </ul>

                    </div>
                    
                </div>
            </div>
            <div class="barra-footer">
            &copy; Derechos Reservados - 2020
            </div>
        </footer>
        <script src="js/jquery.js"></script>
        <script src="js/funciones.js"></script>
</body>
</html>