<%-include("./partials/header") %>
    <main>
        <section id="inicio">
            <img src="../images/portada.jpeg">
           
        </section>
        <section id="nosotros" class="seccion" >
            <div class="container">
                <h1>Quienes somos</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id veniam eius inventore quidem vero maiores error blanditiis dolorum enim expedita pariatur natus.</p>
            </div>
        </section>
        
        <section id="servicios" class="seccion" >
            <div class="container">
                <h1>Nuestros productos</h1>
                <div class="row">
                    <div class="columna-33 columna-mobile-100">
                        <div class="bloque-servicio">
                            <div class="bloque-img-servicio cuadrado-perfecto">
                                <img src="../images/banner2.jpg">
                            </div>
                            <div class="bloque-contenido-servicio">
                                <h3>Suavidad para tu ropa</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consequatur eum excepturi nostrum odio blanditiis, tempore magni. Eum distinctio voluptatem, explicabo, repudiandae exercitationem debitis amet quia eligendi totam temporibus nostrum.</p>
                                <a href="#" class="boton boton-blanco">Ver mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="columna-33 columna-mobile-100">
                        <div class="bloque-servicio">
                            <div class="bloque-img-servicio cuadrado-perfecto">
                                <img src="../images/servicio2.jpg">
                            </div>
                            <div class="bloque-contenido-servicio">
                                <h3>Proteccion para tu hogar</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consequatur eum excepturi nostrum odio blanditiis, tempore magni. Eum distinctio voluptatem, explicabo, repudiandae exercitationem debitis amet quia eligendi totam temporibus nostrum.</p>
                                <a href="#" class="boton boton-blanco">Ver mas</a>
                            </div>
                        </div>

                    </div>
                    <div class="columna-33 columna-mobile-100">
                        <div class="bloque-servicio">
                            <div class="bloque-img-servicio cuadrado-perfecto">
                                <img src="../images/servicio3.jpg">
                            </div>
                            <div class="bloque-contenido-servicio">
                                <h3>Lo mejor para tu auto</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consequatur eum excepturi nostrum odio blanditiis, tempore magni. Eum distinctio voluptatem, explicabo, repudiandae exercitationem debitis amet quia eligendi totam temporibus nostrum.</p>
                                <a href="#" class="boton boton-blanco">Ver mas</a>
                            </div>
                        </div>
                     </div>
                     <div class="columna-33 columna-mobile-100">
                        <div class="bloque-servicio">
                            <div class="bloque-img-servicio cuadrado-perfecto">
                                <img src="../images/servicio4.jpg">
                            </div>
                            <div class="bloque-contenido-servicio">
                                <h3>Cuidado personal</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consequatur eum excepturi nostrum odio blanditiis, tempore magni. Eum distinctio voluptatem, explicabo, repudiandae exercitationem debitis amet quia eligendi totam temporibus nostrum.</p>
                                <a href="#" class="boton boton-blanco">Ver mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="columna-33 columna-mobile-100">
                        <div class="bloque-servicio">
                            <div class="bloque-img-servicio cuadrado-perfecto">
                                <img src="../images/servicio5.jpg">
                            </div>
                            <div class="bloque-contenido-servicio">
                                <h3>Mantenimiento de piletas</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consequatur eum excepturi nostrum odio blanditiis, tempore magni. Eum distinctio voluptatem, explicabo, repudiandae exercitationem debitis amet quia eligendi totam temporibus nostrum.</p>
                                <a href="#" class="boton boton-blanco">Ver mas</a>
                            </div>
                        </div>

                    </div>
                    <div class="columna-33 columna-mobile-100">
                        <div class="bloque-servicio">
                            <div class="bloque-img-servicio cuadrado-perfecto">
                                <img src="../images/servicio6.jpg">
                            </div>
                            <div class="bloque-contenido-servicio">
                                <h3>Las mejores esencias</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consequatur eum excepturi nostrum odio blanditiis, tempore magni. Eum distinctio voluptatem, explicabo, repudiandae exercitationem debitis amet quia eligendi totam temporibus nostrum.</p>
                                <a href="#" class="boton boton-blanco">Ver mas</a>
                            </div>
                        </div>
                     </div>
                </div>
            </div>

        </section>

        <section id="contactenos" class="seccion">
            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=buenos%20Aires&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"></iframe>
            <div class="container-fluid">
                <div class="row">
                    <div class="columna-41 columna-mobile-100 empujar-58 empujar-mobile-0 sinpadding-mobile">
                        <form action="" method="POST">
                            <div class="form-block">
                                <input type="text" name="nombre" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="form-block">
                                <input type="email" name="email" class="form-control" placeholder="email">
                            </div>
                            <div class="form-block">
                                <textarea name="mensaje" placeholder="Mensaje"></textarea>
                            </div>
                            <div class="form-block bloque-ultimo">
                                <input type="submit" class="boton boton-negro" value="Enviar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </section>
        </main>
    
        <%-include("./partials/footer") %>